.edit {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            color: hsl(180, 100%, 25%);
            width: 50%;
            outline: 0;
            margin: 10px 0;
            padding: 30px 35px;
            border: 0;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        div {
            .edit-input {
                width: 39%;
                padding: 15px 20px;
                cursor: pointer;
                color: mediumaquamarine;
                background: linear-gradient(to right bottom, #008080, #008894, #0090a8, #0098bc, #0c9ecf);
            }
            .back {
                text-decoration: none;
                padding: 15px 20px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: 600;
                color: mediumaquamarine;
                background: linear-gradient(to right bottom, #008080, #008894, #0090a8, #0098bc, #0c9ecf);
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                color: #64b5f6;
                margin-left: 25px;
                background: linear-gradient(to right bottom, #2196f3, #1f8eeb, #1d86e3, #1b7eda, #1976d2);
            }             
        }
    }

}

::placeholder {
    font-size: 15px;
    color: hsl(180, 100%, 25%);
}