.show {
    flex-direction: column;
    align-items: center;
    .card {
        width: calc(100% / 3 - 30px);
        margin: 15px 15px;
        height: 300px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 0 20px 20px 0;
        background-color: #F2FCFE;

        &:hover .w-50r > .title > h1 > a {
            color: lightseagreen;
        }
        .w-50l {
            border-radius: 0 20px 20px 0;
            width: 50%;
            img {
                height: 100%;
                width: 100%;
                border-radius: 0 20px 20px 0;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
        .w-50r {
            width: 50%;
            padding: 15px;
            position: relative;
            .description {
                p {
                    font-size: 13px;
                }
            }
            .title {
                position: absolute;
                top: 80px;
                    h1 {
                        font-size: 19px;
                        a {
                            text-decoration: none;
                            color: #000;
                            transition: color 0.5s;
                        }
                    }    
            }
            .price {
                position: absolute;
                bottom: 15px;
                left: 15px;
                p {
                    font-size: 11px;
                }
            }
            .details {
                position: absolute;
                bottom: 15px;
                right: 15px;
                text-decoration: none;
                color: lightseagreen;
                font-weight: 600;
            }     
        }
    }
    
}