.show {
    flex-direction: column;
    align-items: center;
    .card {
        width: calc(100% / 4 - 30px);
        margin: 15px 15px;
        height: 300px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 0 20px 20px 0;
        background-color: #F2FCFE;

        &:hover .w-50r > .title > h1 > a {
            color: lightseagreen;
        }
        .w-50l {
            border-radius: 0 20px 20px 0;
            img {
                height: 100%;
                width: 100%;
                border-radius: 0 20px 20px 0;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
        .w-50r {
            width: 50%;
            padding: 15px;
            position: relative;
            .description {
                height: 60%;
                overflow-y: scroll;
                position: absolute;
                top: 75px;
                p {
                    font-size: 12px;
                }
            }
            .title {
                position: absolute;
                top: 20px;
                    h1 {
                        font-size: 19px;
                        a {
                            text-decoration: none;
                            color: #000;
                            transition: color 0.5s;
                        }
                    }    
            }
            .price {
                position: absolute;
                bottom: 15px;
                left: 15px;
                p {
                    font-size: 11px;
                }
            }
            .details {
                position: absolute;
                bottom: 15px;
                right: 15px;
                text-decoration: none;
                color: lightseagreen;
                font-weight: 600;
            }     
        }
    }
    .cmd {
        a {
            margin-right: 25px;
            text-decoration: none;
            padding: 15px 20px;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 600;
            color: mediumaquamarine;
            background: linear-gradient(to right bottom, #008080, #008894, #0090a8, #0098bc, #0c9ecf);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .delete {
            input {
                cursor: pointer;
                padding: 17px 20px;
                border-radius: 10px; 
                font-size: 15px;
                color: #fff;
                font-weight: 600;
                border: 0;   
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                background: linear-gradient(to right, #e52d27, #b31217);
            }
        }
    }
}