.show {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .container {
        position: relative;
        width: 80%;
        margin-bottom: 50px;
        border-radius: 10px;
        background-color: rgba(256, 256, 256, 0.3);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .w-50l {
            position: absolute;
            top: -100px;
            left: 30px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            font-size: 0;
            img {
                border-radius: 10px;
                height: 100%;
            }
        }
        .w-50r {
            padding: 70px;
            margin-left: 250px;
            .title {
                margin-bottom: 20px;
            }
            .price {
                position: absolute;
                bottom: 20px;
                right: 30px;
                font-size: 15px;
                font-weight: 700;
                color: teal;
            }
        }
    }
    .cmd {
        a {
            margin-right: 25px;
            text-decoration: none;
            padding: 15px 20px;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 600;
            color: mediumaquamarine;
            background: linear-gradient(to right bottom, #008080, #008894, #0090a8, #0098bc, #0c9ecf);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            &.back {
                color: #64b5f6;
                margin-left: 25px;
                background: linear-gradient(to right bottom, #2196f3, #1f8eeb, #1d86e3, #1b7eda, #1976d2);
            }
        }
        .delete {
            input {
                cursor: pointer;
                padding: 17px 20px;
                border-radius: 10px; 
                font-size: 15px;
                color: #fff;
                font-weight: 600;
                border: 0;   
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                background: linear-gradient(to right, #e52d27, #b31217);
            }
        }
    }
}